.navbar    {
  background-image:url("https://i.pinimg.com/564x/14/2a/f1/142af14692fbe7e72c0fe3ff680a5fbe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Mea Culpa', cursive;
  font-size: 2rem;  
}

.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 25px;
}

.navbar-brand a {
  color: #fff;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 700px;
}


a.dropdown-item{
  background-color: rgb(238, 248, 255);
} 

a.dropdown-item:hover {
  background-color: rgb(254, 239, 255);
} 

.App {
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/originals/d3/da/d3/d3dad34dfe8f7d35c8857f61d5e2f854.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
}

footer {

  color:rgb(51, 197, 129);
  background-image: url("https://i.pinimg.com/564x/81/8e/09/818e09bb846221656a702a7cca406f12.jpg  ");
  background-repeat: no-repeat; 
  background-size:cover;
  font-family: 'Mea Culpa', cursive;
  font-size: 2rem;
  }
  
small {
  color:rgb(50, 62, 196);
  font-family: 'Lobster', cursive;
  }